{%- liquid
  assign primary_menu_styling = 'bg-white'
  assign shopping_cart_button = 'bg-blue-dark text-white border-none'
-%}

<section class="drop-shadow-[0_0px_10px_rgba(0,0,0,16%)] absolute w-full">
  <div class="z-10 -mt-10 overflow-hidden transition bg-body collabsed" id="mobile-navigation-menu">
    {%- render 'component-hamburger-menu' -%}

    <div class="relative z-0 flex flex-col gap-4 px-4 pt-12 pb-4">
      <div class="flex justify-between max-w-screen-xl">
        {%- render 'component-search-bar' -%}

        <a href="tel:" class="flex items-center gap-2 font-bold text-black underline shrink-0 font-hind-semi-bold">
          {%- render 'icon-phone' -%}
          {{ section.settings.phone_number }}
        </a>
      </div>

      <nav class="flex flex-col gap-8">
        <ul class="grid max-w-screen-xl grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3">
          {%- for link in linklists['hoofd-menu-mobiel'].links -%}
            <li>
              {%- render 'component-navigation-bordered-link',
                link_text: link.title,
                link_url: link.url,
                styles: primary_menu_styling,
                has_arrow: true
              -%}
            </li>
          {%- endfor -%}
        </ul>

        <ul class="grid max-w-screen-xl grid-cols-1 gap-3">
          {%- for link in linklists['secundaire-menu-mobiel'].links -%}
            <li>
              {%- render 'component-navigation-bordered-link', link_text: link.title, link_url: link.url, has_arrow: true -%}
            </li>
          {%- endfor -%}

          <li>
            {%- render 'component-navigation-bordered-link',
              link_text: section.settings.shopping_cart_text,
              link_url: link.url,
              styles: shopping_cart_button,
              has_arrow: false
            -%}
          </li>
        </ul>
      </nav>

      {%- render 'component-btw' -%}
    </div>
  </div>

  <div class="ml-auto -z-10 bottom-10 h-[50px] w-[70px]">
    <div class="bg-body navigation-expansion-shape">
      {% comment %} {%- render 'snippet-navigation-expansion' -%} {% endcomment %}
    </div>
  </div>
</section>

{%- style -%}
  .navigation-expansion-shape {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }

  #mobile-navigation-menu.collabsed > div:not(.hamburger-menu) {
    opacity: 0;
  }

  #mobile-navigation-menu.collabsed {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
  }
{%- endstyle -%}
