<form action="/search" class="nav-search-bar">
    <div class="relative w-full">
        <input
            type="text"
            class="w-full h-full px-2 py-1 text-sm bg-transparent border-b font-ropa-light focus:outline-none border-gray-border"
			placeholder="Vul hier je zoekopdracht">

      	<div class="absolute -translate-y-1/2 search-icon top-1/2 right-2">{%- render 'icon-search' -%}</div>
    </div>
</form>

{%- style -%}
	form {
		width: 100%;
		max-width: 256px;
	}

	@media screen and not (min-width: 786px) {
		form {
		}
	  
		form.expanded {
			
		}
	}

	@media screen and (min-width: 840px) {
		form {
			max-width: 384px;
		}
	}
{%- endstyle -%}
