{% comment %} 
Accepts:
    - is_in_mobile_nav: {Boolean} This variable is used to change this snippet's styling
{% endcomment %}

<div class="relative flex gap-2 p-2 border border-gray-border btw-toggle">
    <span class="absolute top-0 left-0 z-0 inline-block w-1/2 h-full transition-all border-4 bg-blue-dark border-body"></span>
    <p class="relative z-10 block p-1 pr-3 text-xs text-body">excl.</p>
    <p class="relative z-10 p-1 text-xs text-body">incl.</p>
</div>

{%- style -%}
.incl {
    left: 50%;
    background: #405CA1;
}
{%- endstyle -%}

<script defer src="{{ 'snippet-btw-toggle.js' | asset_url }}" ></script>