<div class="flex gap-[2px] items-center">
	{% # Loop door de volle sterren. %}
	{%- for i in (1..4) -%}
		<img src="{{ 'star.svg' | asset_url }}" width="11.1" height="10.5" alt="Volle ster">
	{%- endfor -%}
	
	<img src="{{ 'half-star.svg' | asset_url }}" width="11.1" height="10.5" alt="Halve ster">
	<p class="ml-2 text-xs font-hind-regular">6,4 | <a href="#" class="underline">146 reviews</a></p>
</div>
