<section
	class="relative h-[400px] md:h-[670px] bg-center bg-no-repeat header-image"
	style="background-image: url({{ 'header-image.png' | asset_url }})">

  	<span class="absolute w-full h-full gradient"></span>

  <div class="absolute w-full h-full max-w-screen-xl px-4 mx-auto -translate-x-1/2 left-1/2">
    <div class="absolute flex flex-col gap-3 bottom-20">
      <h1 class="max-w-[438px] text-white text-5xl md:text-7xl font-ropa-black">
		{{ section.settings.page_heading }}
      </h1>
      <p class="text-3xl text-white font-ropa-regular">{{ section.settings.sub_text }}</p>

      <div class="flex gap-2 mt-10">
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when "button" -%}
					{%- render 'button', 
						text: block.settings.button_text, 
						type: block.settings.button_type,
						secondary_text: block.settings.secondary_button_text -%}
			{%- endcase -%}
		{%- endfor -%}
      </div>
    </div>

    <div class="absolute bottom-3 right-0 flex gap-3 p-2 overflow-x-scroll w-[700px] text-lg">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when "plus_punt" -%}
            <p class="flex items-center gap-2 font-ropa-regular whitespace-nowrap">
              {%- render 'icon-check' -%}
              {{ block.settings.plus_point }}
            </p>
          {%- else -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="absolute bottom-0 right-0 invisible h-16 bg-body md:visible section-header decorational-shape"></div>
</section>

{%- style -%}
  .header-image {
    background-size: 2000px;
    background-position: center bottom;
  }

  @media screen and (min-width: 400px) {
    .header-image {
      background-size: cover;
    }
  }

  .gradient {
    background: transparent linear-gradient(62deg, #263761 0%, #26376100 100%) 0% 0% no-repeat padding-box;
  }

  @media screen and (min-width: 1280px) {
    .section-header.decorational-shape {
      width: 80%;
    }
  }

  @media screen and (min-width: 1430px) {
    .section-header.decorational-shape {
      width: 77%;
    }
  }

  @media screen and (min-width: 1770px) {
    .section-header.decorational-shape {
      width: 55%;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Header",
  "settings": [
	{
		"type": "textarea",
		"id": "page_heading",
		"label": "Pagina titel",
		"default": "De nummer <span class='text-yellow'>één</span> in aanhangwagens"
	},
	{
		"type": "text",
		"id": "sub_text",
		"label": "Header sub-tekst",
		"default": "Bekijk een van onze 400+ modellen"
	}
  ],
  "presets": [
    {
      "name": "header"
    }
  ],
	"blocks": [
		{
      		"type": "plus_punt",
			"name": "Plus punt",
			"settings": [
				{
					"type": "text",
					"id": "plus_point",
					"label": "Plus punt"
					}
			]
		},
    	{
      		"type": "button",
			"name": "Button",
			"settings": [
				{
					"type": "select",
					"id": "button_type",
					"label": "Knop type",
					"options": [
						{
							"label": "Primaire",
							"value": "primary"
						},
						{
							"label": "Secundaire",
							"value": "secondary"
						}
					]
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Knop teksst"
				},
				{
					"type": "text",
					"id": "secondary_button_text",
					"label": "Secundaire knop tekst (optioneel)"
				}
      		]
    	}
  	]
}
{% endschema %}
