<section>
    <h2>Header</h2>
    {%- render 'button', text: 'This is a button' -%}
</section>

{% schema %}
{
    "name": "Header",
    "settings": [],
    "presets": [
        {
            "name": "header"
        }
    ]
}
{% endschema %}
